@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    color: white;
}

.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#header {
    height: 120px;
    background-color: #daac00;
}

#logo {
    position: relative;
    z-index: 1000;
    float: left;
    padding-top: 27px;
}

#searchform {
    float: right;
    margin-top: 36px;
}

#topmenu {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 120px;
    z-index: 500;
}

#topmenu ul {
    width: 100%;
    height: 100%;
    text-align: center;
}

#topmenu ul li {
    display: inline-block;
    line-height: 120px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
}
#topmenu ul li a {
    color: white;
    text-decoration: none;
}

#topmenu ul li a:hover {
    text-decoration: underline;
}


#searchform {
    position: relative;
    z-index: 1000;
    width: 274px;
    height: 50px;
    background: none;
    overflow: hidden;
}

#searchtext {
    float:left;
    border: none;
    height: 50px;
    background: #fcc302;
    width: 200px;
    padding-left: 13px;
}

#searchtext:focus{
    border: none;
    outline: none;
}


#searchbutton {
    float: right;
    border: none;
    height: 50px;
    width: 61px;
    background: #00bec9 url("img/searchbutton.png") no-repeat 50% 50%;
    cursor: pointer;
}

#searchform {
    box-shadow: 30px 12px 37px -19px #4a4a4a;
}


input::placeholder {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.5em;
}

#subheader {
    min-height: 856px;
    background: #fcc302;
}

#subheader .container { 
    padding-top: 199px;
    background: url("img/thedog.png") no-repeat 100% 50%;
    padding-bottom: 153px;
}

#subheader .container h1 {
    margin-right: 657px;
    padding-bottom: 25px;
    font-size: 3.9em;
    width: 650px;
    color: white;
    font-weight: 500;

} 

#subheader .container p {
    margin-right: 641px;
    color: white;
    font-size: 1.5em;
}

.contactus_button {
    display: inline-block;
    height: 69px;
    width: 182px;
    background-color: #00bec9;
    border: solid #00bec9 2px;
    border-radius: 7px;
    text-align: center;
    margin-top: 50px;
}
.ourservice_button {
    display: inline-block;
    height: 69px;
    width: 182px;
    text-align: center;
    border: solid white 3px;
    border-radius: 7px;
    margin-left: 35px;
}

.ourservice_button a {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 70%;
    text-decoration: none;
    font-weight: 500;
    padding-top: 20px;
}

.contactus_button a {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 70%;
    text-decoration: none;
    padding-top: 20px;
    font-weight: 500;
}

.contactus_button:hover {
    text-decoration: underline;
}

.ourservice_button:hover {
    text-decoration: underline;
}


#corpus_one {
    min-height: 793px;
}

.corpus_one_button {
    height: 69px;
    width: 182px;
    background-color: #fcc302;
    border: solid #fcc302 2px;
    border-radius: 7px;
    text-align: center;
    margin-top: 47px;
    float: left;
}

#corpus_one .container h1 {
    float:left;
    padding-bottom: 25px;
    font-size: 3em;
    width: 650px;
    color: black;
    font-weight: 500;
    margin-top:200px;
} 

#corpus_one .container p {
    margin-right: 641px;
    float: left;
    color: black;
    font-size: 1.5em;
}

.corpus_one_button a {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 70%;
    text-decoration: none;
    padding-top: 20px;
    font-weight: 500;
}

#videoimage {
    position:relative;
    float:right;
    margin-top: -335px;
}

#videoimage img {
    z-index: 1000;
    position: relative
}

#videoimage::after {
    content: "";
    display: block;
    width: 209px;
    height: 200px;
    background: #fcc302;
    position: absolute;
    bottom: -24px;
    left: -30px;
    z-index: 900;
}

#corpus_two {
    background:#fcc302;
    min-height: 1017px;
}

#corpus_two .container_one {
    position: relative;
}

#corpus_two .container_one img {
    margin-top: 30px;
    margin-bottom: 384px;
}

#corpus_two .container_two {
    margin-left: -92px;
}

#corpus_two .container_one h1 {
    height: 91px;
    font-size: 3em;
    color: white;
    font-weight: 650;
    margin-top: -59px;
    padding-left: 487px;
    padding-top: 63px;
}

#corpus_two .container_one p {
    margin-right: 657px;
    padding-bottom: 35px;
    font-size: 1.3em;
    width: 542px;
    color: white;
    font-weight: 300;
    text-align: center;
    padding-left: 331px;
} 

#corpus_two .container_two h2 {
    display: inline-block;
    position: relative;
    font-size: 2.3em;
    color: white;
    font-weight: 500;
    width: -346px;
    bottom: 443px;
    text-align: center;
    padding-left: 87px;
    width: 359px;
} 

#corpus_two .container_two p {
    display: inline-block;
    font-size: 1em;
    width: 224px;
    color: white;
    font-weight: 383;
    position: relative;
    bottom: 348px;
    left: -39px;
    text-align: center;
    margin-top: 56px;
    margin-left: -254px;
    margin-right: -16px;
}